body{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    margin-left: 7vw;
    margin-right: 7vw;
}

.title{
    
    text-align: center;
    width: 70vw;
    height: 6vw;
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin-bottom: 0.3vw;
    color: rgb(255, 255, 255);
    
}



.mainContent{
    display: flex;
    flex-direction: row;
    
}

.intro{
    width: 80vw;
    height: 5vw;
    font-size: 1.5vw;
    font-family:'Quicksand',sans-serif;
    margin:3vw;
    padding:3vw;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-align: center;

}

h1 {
    color:rgb(197, 207, 55);
    font-size: 3vw;
    font-family: 'Quicksand',sans-serif;
}
.schedule {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:1vw;
    /*background-image: url(../img/MusicBackground.png);
    background-repeat: no-repeat;*/


}


.showInfo
{
    width:10vw;
    height:10vw;
    font-size: 1vw;
    font-family: 'Quicksand',sans-serif;
    padding:5vw;
    margin:4vw;
    margin-bottom: 1vw;
    color:rgb(255, 255, 255);
    background-image: url(../img/whiteNote.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.showInfo img {
     width:5vw;
     height:5vw;
}

.showInfo p {
    position: absolute;
    transform: translate(-3vw,7.45vw);
    color:rgb(0, 0, 0);
    font-family: 'Quicksand',sans-serif;
    font-size: 2vw;
}

.mainContent .schedule .showInfo .artist {
    position: absolute;
    width: 7vw;
    transform: rotate(15deg) translate(6.5vw,2vw);
    color:rgb(255, 255, 255);
    font-family: 'Quicksand',sans-serif;
    font-size: 2vw;
}

.click {
    position: absolute;
    transform:rotate(22deg) translate(5vw,-5.5vw);
    color: rgb(0, 0, 0);
}


/*Transitions and animations*/

.hide {
    display:none;
    width: 80vw;
    height:8vw;
    margin:1vw;
    padding:2vw;
    font-size:1.5vw;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    transition-property:none;
    transition-duration: 3s;
    transition-delay: 0.1s;

}

/*pseudo-class of hover*/
.title:hover + .hide {
    display: block;
    color:rgb(252, 252, 252);
    font-size: 2vw;
    text-align: center;
    
}



/*TOOLTIP for Show Info*/
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
visibility: hidden;
width:20vw;
height:auto;
font-size: 1.5vw;
background-color: rgb(224, 212, 39);
color: #000000;
border-radius: 6px;
padding:1vw;

/* Position the tooltip */
position: relative;
z-index: 1;
top:-80px;
left: -50px;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}


/*animated notes*/
.wave{
    animation-duration: 10s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

/*need to define keyframes for animation to work*/
@keyframes rotate {
    /*define a series of points for this slide-in animation*/
    
    
    from {
        transform: rotate(-25deg);
    }

    to {
        transform: rotate(25deg);
    }
}


/*Media query for iphone small screen*/
@media screen and (max-width:400px){
    .schedule {
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 1fr,1fr;
        /*background-image: url(../img/MusicBackground.png);
        background-repeat: no-repeat;*/
        
    
    }
}



