body{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.title{
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 6vw;
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin: 5px;
    color: rgb(255, 255, 255);
    
    
}

.mainContent{
    display: flex;
    flex-direction: row;
}

.intro{
    width: 90vw;
    height: 5vw;
    font-size: 2vw;
    font-family:'Quicksand',sans-serif;
    margin:1px;
    padding:1vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.schedule {

    width: 56vw;
    height: 100vw;
    padding-top: 10vw;

}

.generalInfo{

    width: 30vw;
    height: 80vw;
    font-size: 1.5vw;
    font-family: 'Quicksand',sans-serif;
    padding:10px;
    margin:8px;
    background-color:rgb(255, 255, 255); 
    color:black;
    align-items: left;

}

.showInfo
{
    width:52vw;
    height:10;
    font-family: 'quicksand',sans-serif;
    background-color:rgb(255, 255, 255);
    font-size: 1vw;
    font-family: 'Quicksand',sans-serif;
    padding:5px;
    margin:5px;
    color:black;
    align-items: left;
}

/*Media query for larger screens*/
@media screen and (min-width:400px){


}
/*Media query for iphone small screen*/
@media screen and (max-width:400px){

}



