body{
      background-color: rgb(75, 75, 75);  
}


div{
    background-color: aqua;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4vw;
    margin: 2.5vw;
    border: rgb(229, 135, 229) 5px solid;
}

.div-wrapper{
    display:grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and (max-width:900px){
    body{
        background-color: rgb(124, 4, 4);
    }    

    .div-wrapper{
        display: flex;
        flex-direction: column;
    }

    div {
        font-size: 3vw;
    }
}



